export INFRASTRUCTURE_ROOT_DIR=$PWD
export ANSIBLE_VAULT_IDENTITY_LIST="@$INFRASTRUCTURE_ROOT_DIR/demo_vault_password.txt"

export REMOTE_HOST=$INFRASTRUCTURE_ROOT_DIR/provisioners/shared/inventory/vagrant
export ENV_INVENTORY=$INFRASTRUCTURE_ROOT_DIR/provisioners/shared/inventory/vagrant
export ANSIBLE_INVENTORY=$ENV_INVENTORY
